In [1]:
import numpy as np
import pandas as  pd
import matplotlib
import matplotlib.pyplot as plt

In [3]:

df = pd.read_csv("adult_income_data-1.csv")
df.head(5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,Female,0,0,40,United-States,<=50K

In [ ]:
df.columns   ## Some of them not.7

In [ ]:
HeaderNames = []  
with open ('adult_income_names-1.txt','r') as f:
        for line in f:
            f.readline()
            var = line.split(":")[0]
            HeaderNames.append(var)
HeaderNames

In [ ]:
HeaderNames.append('_Income_')

In [ ]:
df = pd.read_csv("adult_income_data-1.csv", names=HeaderNames)
df.head(5)

In [ ]:
df.describe()

In [ ]:
vars_class = ['workclass','education','marital-status','occupation','relationship','sex','native-country']

In [ ]:
for v in vars_class:
    classes = df[v].unique()
    num_classes = df[v].nunique()
    print("There are {} classes in the \"{}\" column. They are : {}".format(num_classes,v,classes))
    print("-"*100)

In [ ]:
df.isnull().sum()

In [ ]:
dfCreate = df[['age', 'education', 'occupation']]
dfCreate

In [ ]:
dfCreate['age'].hist(bins=20)

In [ ]:
dfCreate.boxplot(column = 'age', by = 'education',figsize = (30,6)) ## 15,6 so small and looks not good.that why I wanna do 30
plt.xticks(fontsize = 15)
plt.xlabel("Education", fontsize=15)
plt.show()

In [ ]:
def strip_whitespace(s):
    return s.strip()

In [ ]:
# Education column
dfCreate['education_stripped'] = df['education'].apply(strip_whitespace)
dfCreate['education'] = dfCreate['education_stripped']
dfCreate.drop(labels = ['education_stripped'],axis=1, inplace=True)

# Occupation column
dfCreate['occupation_stripped'] = df['occupation'].apply(strip_whitespace)
dfCreate['occupation'] = dfCreate['occupation_stripped']
dfCreate.drop(labels = ['occupation_stripped'],axis=1, inplace=True)

In [ ]:
# Write a code with conditional clauses and join them by & (AND) to filter the dataframe
df_filtered = dfCreate [(dfCreate['age']>=30) & (dfCreate['age']<=50)]
df_filtered.head()

In [ ]:
# We can look at the shape of the filtered dataframe and take the 1st element at 0 index of the tuple
df2 = df_filtered.shape[0]
df2

In [ ]:
# Print out the number of people between 30 and 50 (The back of the book is slightly differnt, but use as a guide)
df_filtered  # 16390 rows so mean 16390 people.

print("Number of people between 30 and 50:", df2)

In [ ]:
occupationMean = dfCreate.groupby('occupation').mean()['age']
educationMean  = dfCreate.groupby('education').mean()['age']
print("OccupationMean:", occupationMean, "EducationMean :", educationMean)

In [ ]:
dfCreate.groupby('occupation').describe()['age']
##  Exec-manageria, 
##  Unknown (?)

In [ ]:
occupation_stats=dfCreate.groupby('occupation').describe()['age']
plt.figure (figsize = (15,8))
plt.barh(y = occupation_stats.index, width=occupation_stats['count'])
plt.yticks(fontsize=13)
plt.show()

In [ ]:
# Sample first dataframe with 5 elements and your chosen random_state  (Reference Back of book)
df1 = df[['age','workclass','occupation']].sample(5,random_state = 101 )
df1.head()

In [ ]:
# Sample second dataframe with 5 elements and your chosen random_state  (Reference Back of book)
df2 = df[['education','occupation']].sample(5,random_state = 101 )
df2.head()

In [ ]:
# Merge the dataframes  (Reference Back of book)
df_merged = pd.merge (df1,df2, on  = 'occupation', how = 'inner').drop_duplicates()

In [ ]:
df_merged