In [52]:
import time
import datetime
import pandas as pd



ticker = 'TSLA'
period1 = int(time.mktime(datetime.datetime(2021, 12, 1, 23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 3, 31, 23,59).timetuple()))
interval = '1wk' # 1d, 1m



query_string =f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'


df = pd.read_csv(query_string)


dfsorted = df.sort_values(['Date'], ascending = False)

In [53]:
dfsorted

,Date,Open,High,Low,Close,Adj Close,Volume
17,2022-03-28,1065.099976,1114.770020,1053.599976,1077.599976,1077.599976,94992900
16,2022-03-21,914.979980,1040.699951,907.090027,1010.640015,1010.640015,146492900
15,2022-03-14,780.609985,907.849976,756.039978,905.390015,905.390015,129610200
14,2022-03-07,856.299988,866.140015,782.169983,795.349976,795.349976,112514700
13,2022-02-28,815.010010,889.880005,814.710022,838.289978,838.289978,125680100
12,2022-02-21,834.130005,856.729980,700.000000,809.869995,809.869995,129978300
11,2022-02-14,861.570007,926.429993,837.609985,856.979980,856.979980,100005700
10,2022-02-07,923.789978,947.770020,850.700012,860.000000,860.000000,103251900
9,2022-01-31,872.710022,943.700012,862.049988,923.320007,923.320007,132282700
8,2022-01-24,904.760010,987.690002,792.010010,846.349976,846.349976,208309200
7,2022-01-17,1026.609985,1070.790039,940.500000,943.900024,943.900024,105363500
6,2022-01-10,1000.000000,1115.599976,980.000000,1049.609985,1049.609985,137250500
5,2022-01-03,1147.750000,1208.000000,1010.000000,1026.959961,1026.959961,152933600
4,2021-12-27,1073.670044,1119.000000,1053.150024,1056.780029,1056.780029,91799500
3,2021-12-20,910.700012,1072.979980,886.119995,1067.000000,1067.000000,104781800
2,2021-12-13,1001.090027,1005.000000,909.039978,932.570007,932.570007,135926600
1,2021-12-06,1001.510010,1072.380005,950.500000,1017.030029,1017.030029,99585600
0,2021-11-29,1160.699951,1172.839966,1000.210022,1014.969971,1014.969971,77962400